html {
  scroll-snap-type: y mandatory;
}
.app {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}
.app__video {
  position: relative;
  height: 800px;
  overflow: scroll;
  border-radius: 20px;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
}
/* Hide ScrollBar for chrome, Safari and Opera  */
.app__video::-webkit-scrollbar {
  display: none;
}
/* Hide ScrollBar For IE,Edge and FireFox */
.app__video {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
